{% extends "base.html" %}
{% block content %}
<div class="posts-container">
    <div class="posts" id="posts">
        {% for row in posts_for_render(posts.edges) %}
        <div class="row">
            {% for post in row %}
            {% if post.is_fill is defined %}
            <div class="post"></div>
            {% else %}
            <div class="post" id="{{ post.node.shortcode }}">
                <a
                    href="{{ 'http://localhost:5000/p/' + post.node.shortcode }}"
                >
                    <div class="overlay-back">
                        <span></span>
                    </div>
                    <div class="overlay">
                        <ul>
                            <li>
                                <div>
                                    <span>
                                        {{ post.node.edge_media_preview_like.count }}
                                    </span>
                                </div>
                            </li>
                            <li>
                                <div>
                                    <span>
                                        {{ post.node.edge_media_to_comment.count }}
                                    </span>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div class="image">
                        <img
                            src="http://localhost:5000/image?url={{ b64e(post.node.thumbnail_src) }}"
                        >
                    </div>
                </a>
            </div>
            {% endif %}
            {% endfor %}
        </div>
        {% endfor %}
    </div>
</div>
{% if posts.page_info.has_next_page %}
<div class="pagination">
    <div class="load">
        <a
            href="#{{ posts.edges[-1].node.shortcode }}"
            username="{{ username }}"
            end_cursor="{{ posts.page_info.end_cursor }}"
            onclick="load_more_posts(this)"
        >
            Load More
        </a>
    </div>
</div>
{% endif %}
{% endblock %}
